{{ $data := index .Site.Data .Site.Language.Lang }}
    {{ partial "head" . }}
    <body>
        <div id="wrap">
            <!-- Header -->
            {{ partial "header" . }}
            <div class="container">
                <h1>
                    <strong><a href="{{ .Permalink }}">{{ i18n "articles" }}</a></strong>
                </h1>
                <div class="panel panel-default">
                    <div class="panel-body">
                        {{ range .Data.Pages.ByPublishDate.Reverse }}
                        <div class="row" style="padding: 10px 0px">
                            <div class="col-sm-4 col-md-4 col-lg-4">
                                {{ if .Params.image }}
                                <img src="{{ .Params.image | absURL }}" alt="{{ .Parent.Title | markdownify }}" style="width: 100%"/>
                                {{ else }}
                                <img src="{{ .Site.Params.ogimage | absURL }}" alt="{{ .Title | markdownify }}" style="width: 100%"/>
                                {{ end }}
                            </div>
                            <div class="col-sm-8 col-md-8 col-lg-8">
                                <h6>
                                    {{ .Date.Day }} {{ index $data.months (printf "%d" .Date.Month) }} {{ .Date.Year }}
                                </h6>
                                <h5 style="text-align: left">
                                    <strong><a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a></strong>
                                </h5>
                                <h5 style="text-align: left">
                                    {{ .Summary }}
                                </h5>
                            </div>
                        </div>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer -->
        {{ partial "footer" . }}
    </body>
</html>
